@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lato&family=Source+Sans+Pro:wght@400;600&display=swap');
html, body {
    width: 100%;
    height:100%;
  }
h1,h2,a{
    margin: 0;
}
:root {
    --font-color: #ffffff;
    --background-color: #36486b;
    --nav-background-color: #4040a1;

  }
body {
    font-size: 20px;
    color: var(--font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-image: linear-gradient(to bottom, #51c3ff, #3dcfff, #2edaff, #2ee5ff, #3feffa, #46f4ef, #58f9e2, #6ffdd3, #87fdb9, #a3fb9e, #c1f884, #e1f26d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.greatingText{
    padding: 5% 0px 20px 5%;
    width: 95%;
    height: fit-content;
}
/* Input section */
.dataEntry{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.inputBox{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#cityEntry{
    outline: none;
    font-size: 1.5rem;
    padding: 5px 10px;
    width: 65%;
    margin: 0px;
    max-width: 400px;
    border: solid #09afb3 2px;
    /* border-right: 0px; */
    border-radius: 5px;
}
#generate{
    font-size: 1.5rem;
    padding: 5px 10px;
    height: 100%;
    border: 2px 2px 2px 0px;
    border: solid #09afb3 2px;
    /* border-left: 0px; */
    border-radius: 5px;
    background-color: #ffed64;
    cursor: pointer;
    transition: all .5s;
    margin-left: 5px;
}
#generate:hover{
    background-color: #09afb3;
    color: white;
}
.itemsContainer{
    height: fit-content;
    width: 70%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherItemBox{
    width: 97%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1190c3;
    border-radius: 10px;
    flex-wrap: wrap;
}

#city{
    width: fit-content;
    height: auto;
    font-size: 2.5rem;
}
.todayWeather{
    width: fit-content;
    height: auto;
    padding-right: 5%;
}
/* display output data */

#date{
    margin: 10px;
}
#temp{
    margin: 10px;
}
#content{
    margin: 10px;
}






